################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.md~
*.ts~
*.js~
*.html~
node_modules/
debug/
ps0/src/bin/*
*.map
*.suo
