<section data-ng-controller="PuzzlesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Puzzle- {{puzzle.name}}</h1>
	</div>
    <div class="list-group">
        <div class="list-group-item">
            <label class="control-label" for="name">Description</label>
            <div class="page-content"> {{puzzle.description}}</div>
        </div>
        <div class="list-group-item">
            <label class="control-label" for="name">Active</label>
            <div class="page-content"> {{puzzle.active}}</div>
        </div>
    </div>
        <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user.roleType === 'administrator'))">
            <a class="btn btn-primary" href="/#!/puzzles/{{puzzle._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-primary" data-ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
</section>
