<section data-ng-controller="TeamsController" data-ng-init="findOne()">
    <div class="page-header">
        <h2>Edit Team</h2>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="team.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <label class="control-label" for="name">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="team.description" id="description" class="form-control" placeholder="Description" required>
                    </div>
                    <label class="control-label" for="name">Active</label>
                    <div class="controls">
                        <input ng-model="team.active" ng-value="true" type="radio"> True
                        <input ng-model="team.active" ng-value="false" type="radio"> False
                    </div>
                    <label for="name">Team Lead</label><br />
                    <select data-ng-model="team.teamLeadId" data-ng-options="player._id as player.name for player in players"></select>

                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>