<section data-ng-controller="TeamsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Team- {{team.name}}</h1>
	</div>
    <div class="list-group">
        <div class="list-group-item">
            <label class="control-label" for="name">Description</label>
            <div class="page-content"> {{team.description}}</div>
        </div>
        <div class="list-group-item">
            <label class="control-label" for="name">Active</label>
            <div class="page-content"> {{team.active}}</div>
        </div>
        <div class="list-group-item">
            <label class="control-label" for="name">Team Lead</label>
            <div class="page-content"> {{teamLead.name}}</div>
        </div>
        <div class="list-group-item">
            <label class="control-label" for="name">List of Players</label>
            <button type="button" class="btn btn-primary btn-sm" data-ng-click="showPlayerMenu = !showPlayerMenu;">
                <i class="glyphicon glyphicon-chevron-up" ng-show="showPlayerMenu"></i>
                <i class="glyphicon glyphicon-chevron-down" ng-show="!showPlayerMenu"></i>
            </button>
            <a class="btn btn-primary" href="/#!/teams/{{team._id}}/players/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <div ng-show="showPlayerMenu">
                <ul>
                    <li ng-repeat="player in players">
                        {{player.name}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="list-group-item">
            <label class="control-label" for="name">List of Puzzles</label>
            <button type="button" class="btn btn-primary btn-sm" data-ng-click="showPuzzleMenu = !showPuzzleMenu;">
                <i class="glyphicon glyphicon-chevron-up" ng-show="showPuzzleMenu"></i>
                <i class="glyphicon glyphicon-chevron-down" ng-show="!showPuzzleMenu"></i>
            </button>
            <a class="btn btn-primary" href="/#!/teams/{{team._id}}/puzzles/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <div ng-show="showPuzzleMenu">
                <ul>
                    <li ng-repeat="puzzle in puzzles" ng-class="{solved: puzzle.solved}">
                        <a href="/#!/teams/{{team._id}}/puzzle/{{puzzle._id}}/edit">{{puzzle.name}}</a> {{puzzle.bonus}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user.roleType !== 'player'))">
            <a class="btn btn-primary" href="/#!/teams/{{team._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-primary" data-ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
</section>
