<section data-ng-controller="EventsController" data-ng-init="initSublist()">
    <div class="page-header">
        <h2>{{event.name}} Edit Event {{sublist.subtype}}</h2>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="updateSublist()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">List of {{sublist.subtype}}</label>
                    <div class="borderbox">
                        <div ng-repeat="item in allActiveItemList">
                            <input type="checkbox" name="{{item._id}}" id="{{item._id}}" value="{{item_id}}">
                            {{item.name}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>