<section data-ng-controller="EventsController" data-ng-init="findOne()">
	<div class="page-header">
        <h1>Event - {{event.name}}</h1>
	</div>
    <div class="list-group">
        <div class="list-group-item">
            <label class="control-label" for="name">Description</label>
            <div class="page-content"> {{event.description}}</div>
        </div>
        <div class="list-group-item">
            <label class="control-label" for="name">Active</label>
            <div class="page-content"> {{event.active}}</div>
        </div>
        <div class="list-group-item">
            <label class="control-label" for="name">Status</label>
            <div class="page-content"> {{event.status}}</div>
        </div>
        <div class="list-group-item">
            <label class="control-label" for="name">List of Players</label>
            <button type="button" class="btn btn-primary btn-sm" data-ng-click="showPlayerMenu = !showPlayerMenu;;">
                <i class="glyphicon glyphicon-chevron-up" ng-show="showPlayerMenu"></i>
                <i class="glyphicon glyphicon-chevron-down" ng-show="!showPlayerMenu"></i>
            </button>
            <a class="btn btn-primary" href="/#!/events/{{event._id}}/players/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <div ng-show="showPlayerMenu">
                <ul>
                    <li ng-repeat="player in players">
                        {{player.name}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="list-group-item">
            <label class="control-label" for="name">List of Puzzles</label>
            <button type="button" class="btn btn-primary btn-sm" data-ng-click="showPuzzleMenu = !showPuzzleMenu;">
                <i class="glyphicon glyphicon-chevron-up" ng-show="showPuzzleMenu"></i>
                <i class="glyphicon glyphicon-chevron-down" ng-show="!showPuzzleMenu"></i>
            </button>
            <a class="btn btn-primary" href="/#!/events/{{event._id}}/puzzles/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <div ng-show="showPuzzleMenu">
                <ul>
                    <li ng-repeat="puzzle in puzzles">
                        {{puzzle.name}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="list-group-item">
            <label class="control-label" for="name">List of Teams</label>
            <button type="button" class="btn btn-primary btn-sm" data-ng-click="showTeamMenu = !showTeamMenu;">
                <i class="glyphicon glyphicon-chevron-up" ng-show="showTeamMenu"></i>
                <i class="glyphicon glyphicon-chevron-down" ng-show="!showTeamMenu"></i>
            </button>
            <a class="btn btn-primary" href="/#!/events/{{event._id}}/teams/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <div ng-show="showTeamMenu">
                <ul>
                    <li ng-repeat="team in teams">
                        {{team.name}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="list-group-item">
            <label class="control-label" for="name">List of Instructors</label>
            <button type="button" class="btn btn-primary btn-sm" data-ng-click="showInstructorMenu = !showInstructorMenu;">
                <i class="glyphicon glyphicon-chevron-up" ng-show="showInstructorMenu"></i>
                <i class="glyphicon glyphicon-chevron-down" ng-show="!showInstructorMenu"></i>
            </button>
            <a class="btn btn-primary" href="/#!/events/{{event._id}}/instructors/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <div ng-show="showInstructorMenu">
                <ul>
                    <li ng-repeat="instructor in instructors">
                        {{instructor.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user.roleType === 'administrator'))">
            <a class="btn btn-primary" href="/#!/events/{{event._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-primary" data-ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
</section>
